* {
  --accent: #d55a44;
}

body {
  display: flex;
  justify-content: center;
}

button {
  font-family: system-ui;
}

code {
  font-size: 10.5pt;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}

pre {
  font-size: 10.5pt;
}

#main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#room-state-output {
  height: calc(100vh - 200px);
  width: 500px;
  background-color: #fff;
}

#room-state-output::-webkit-scrollbar {
  width: 5px;
}

#room-state-output::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: #fff;
}

#room-state-output::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2c3e50;
}
